
.product {
    display: flex;
    align-items: center;
    flex: 0 0 220px;
    height: 272px;
}

a {
    width: 100%;
    height: 100%;
}

.product:hover {
    background: #F2F2F2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 0.3s ease;
}

/*--------------Media start----------------*/

@media screen and (max-width: 475px) {


    .product {
        flex: 0 0 150px;
        transition: all .5s linear
    }
}

/*--------------Media end----------------*/